In [3]:
from pathlib import Path
from pandas import DataFrame, read_csv

DATASET_PATH: Path = Path("../datasets").resolve()
print(f"{DATASET_PATH=}")

DATASET_PATH=PosixPath('/home/jacob/Code/projects/mcp-example/example-api/datasets')

In [25]:
df: DataFrame = read_csv(DATASET_PATH / "movies_metadata.csv")
print(df.columns)
df

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

/tmp/ipykernel_2259/1760627803.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df: DataFrame = read_csv(DATASET_PATH / "movies_metadata.csv")

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]

In [26]:
df_cp = df.copy()
df_cp.drop(columns=["id", "adult", "poster_path", "video", "homepage", "original_language", "original_title"], inplace=True)
print(df_cp.columns)
df_cp

Index(['belongs_to_collection', 'budget', 'genres', 'imdb_id', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'vote_average', 'vote_count'],
      dtype='object')

                                   belongs_to_collection  ... vote_count
0      {'id': 10194, 'name': 'Toy Story Collection', ...  ...     5415.0
1                                                    NaN  ...     2413.0
2      {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       92.0
3                                                    NaN  ...       34.0
4      {'id': 96871, 'name': 'Father of the Bride Col...  ...      173.0
...                                                  ...  ...        ...
45461                                                NaN  ...        1.0
45462                                                NaN  ...        3.0
45463                                                NaN  ...        6.0
45464                                                NaN  ...        0.0
45465                                                NaN  ...        0.0

[45466 rows x 17 columns]